* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: unset;
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
  min-height: 100vh;
  margin: 10px 60px;
}

.App-header {
  background-color: #fff;
  border-bottom: 1px solid #bdbdbd;
  box-sizing: border-box;
  height: 44px;
  padding: 4px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #000;
  font-family: Chilanka;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.App-header > div {
  height: 24px;
}
.appContainer {
  margin-top: 124px;
}
